body {
	text-align: center;
	background-size: cover;
}
#taco {
	border-radius: 15px;
}
.jumbotron {
	background: rgba(0,0,0,0.7);
	color: white;
}
.parallax-window {
    min-height: 400px;
    background: transparent;
}